<div class="panel-window">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <img src="assets/vslogo.png"/>
        <span class="navbar-text">Visual Studio</span>
    </nav>
    <div class="content container-fluid">
        <div class='row' style="height: 40%;">
            <div class='col-4'>
                <app-panel-button class="panel-button" [buttonId]='"Button 1"' [buttonLabel]='"$$Button 1$$"'></app-panel-button>
            </div>
            <div class='col-4'>
                <app-panel-button class="panel-button" [buttonId]='"Button 2"' [buttonLabel]='"$$Button 2$$"'></app-panel-button>
            </div>
            <div class='col-4'>
                <app-panel-button class="panel-button" [buttonId]='"Button 3"' [buttonLabel]='"$$Button 3$$"'></app-panel-button>
            </div>
        </div>
        <div class='row' style="height: 20%">
            <div class='col-3'>
                <app-panel-button class="panel-button" [buttonId]='"Button 4"' [buttonLabel]='"$$Button 4$$"'></app-panel-button>
            </div>
            <div class='col-3'>
                <app-panel-button class="panel-button" [buttonId]='"Button 5"' [buttonLabel]='"$$Button 5$$"'></app-panel-button>
            </div>
            <div class='col-3'>
                <app-panel-button class="panel-button" [buttonId]='"Button 6"' [buttonLabel]='"$$Button 6$$"'></app-panel-button>
            </div>
            <div class='col-3'>
                <app-panel-button class="panel-button" [buttonId]='"Button 7"' [buttonLabel]='"$$Button 7$$"'></app-panel-button>
            </div>
        </div>
        <div class='row' style="height: 20%">
            <div class='col-3'>
                <app-panel-button class="panel-button" [buttonId]='"Button 8"' [buttonLabel]='"$$Button 8$$"'></app-panel-button>
            </div>
            <div class='col-3'>
                <app-panel-button class="panel-button" [buttonId]='"Button 9"' [buttonLabel]='"$$Button 9$$"'></app-panel-button>
            </div>
            <div class='col-3'>
                <app-panel-button class="panel-button" [buttonId]='"Button 10"' [buttonLabel]='"$$Button 10$$"'></app-panel-button>
            </div>
            <div class='col-3'>
                <app-panel-button class="panel-button" [buttonId]='"Button 11"' [buttonLabel]='"$$Button 11$$"'></app-panel-button>
            </div>
        </div>
        <div class='row' style="height: 20%">
            <div class='col-3'>
                <app-panel-button class="panel-button" [buttonId]='"Button 12"' [buttonLabel]='"$$Button 12$$"'></app-panel-button>
            </div>
            <div class='col-3'>
                <app-panel-button class="panel-button" [buttonId]='"Button 13"' [buttonLabel]='"$$Button 13$$"'></app-panel-button>
            </div>
            <div class='col-3'>
                <app-panel-button class="panel-button" [buttonId]='"Button 14"' [buttonLabel]='"$$Button 14$$"'></app-panel-button>
            </div>
            <div class='col-3'>
                <app-panel-button class="panel-button" [buttonId]='"Button 15"' [buttonLabel]='"$$Button 15$$"'></app-panel-button>
            </div>
        </div>
    </div>
</div>